<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <!--Confirmación delete de productos-->
                <div>
                    <h1>
                    Seguro que deseas eliminar el producto <%= product.name %>?
                </h1>
                <br>
                <a href="/admin"><button>No</button></a>
                <form action="/product/delete/<%=product.id%>?_method=DELETE" method="post">
                    <button type="submit">Si</button>
                </form>
            </div>



            </main>
    </body>
    <%- include('./partials/footer.ejs') %>