<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <link rel="stylesheet" href="/css/detail.css">
    
    <main>
        <section class="contenedor-producto">
            <h2><%= product.name %></h2><br>
            <div class="detalle-producto">
                <div class="foto-producto"><img src="/images/productImg/<%= product.image %>"></div>
                <div class="detalle-producto">
                    <br><h3><%= product.name %></h3><br>
                    <h4>Detalle del producto</h4>
                    <p><%= product.autor %></p>
                    <p>Valuado en <%= product.price %> ETH</p><br>
                    <p><%= product.description %>
                    </p>
                </div>
                <div class="botonera-producto">
                    <button class="boton">Hacer una Oferta</button>
                    <a href="/productCart"><button class="boton">Comprar</button></a>
                </div>
            </div><br>


        </section>
    </main>
    
    <%- include('./partials/footer') %>
   
</body>
</html>