<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <link rel="stylesheet" href="/css/detail.css">

            <main>
                <section class="contenedor-producto">
                    <h2>
                        <%= product.name %>
                    </h2><br>
                   
                
                    <img  class="foto-producto" src="/images/productImg/<%= product.image %>">
                            </div>
                            <br>
                            <h3>
                                <%= product.name %>
                            </h3><br>
                            <h4>Detalle del producto: <%= product.description %></h4>
                            <br>
                            <p>
                                Autor: <%= product.autor %>
                            </p>
                            <br>
                            <p>Valuado en $<%= product.price %>
                            </p>
                            <br>
                            <p>
                                Categoría: <%= product.category.name %>
                            </p>

                            <br>
                           


                            <br>


                            <a href="/product/create">

                                <button class="login-button"> Agregar más productos </button>
                            </a>
                </section>
            </main>

            <%- include('./partials/footer') %>

    </body>

    </html>