<!DOCTYPE html>

<html lang="en">
<%- include('./partials/head') %>

<%- include('./partials/adminHeader') %> 
<br>
<br>
    <body>

       
        
            
                    <form class="profileok" action="/user/logout" method="get"> 
                    
                    <h2>Hola <%= user.name %> bienvenido a I ❤️ NFT</h2>
                    <br>
                    <br>
                    <div class="foto-perfil">
                        <img class="fotoPerfil" src="/images/usersImg/<%= user.image %>">
                        
                    </div>
                    <br>
                    <br>
                   <button class="logout" type="submit"> Cerrar sesión </button>
                   </form>
                   <br>
                   <br>
            <%- include('./partials/footer') %>
    </body>


		
	
	
	
