<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <% if (<!-- userLogged && userLogged.rol_id == "1") --> { %>                   
			<%- include ('../partials/adminHeader') %>
		<% } else { %>
		  <%- include ('../partials/header') %> 
		<% } %>

        <div >
            <div >
                <div >
<<<<<<< HEAD
                    <h2>Hola <%= user.name %> </h2>
                    <div class="foto-perfil">
                    <img src="/image<%= user.image %> ">
=======
                    <h2>Hola <%= User.name %> </h2>
                    <div class="foto-perfil">
                    <img src="/img/usersImg/<%= User.image %> ">
>>>>>>> 0c951288d9361033f98583d3f4326d347a441f49
                    </div>
                    <br>
                    <br>
                    <div class="login-input"><%= User.email %> </div>
                </div>
            </div>
        </div>
    <%- include('./partials/footer') %>
</body>
</html>



		
	
	
	