<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <% if (<!-- userLogged && userLogged.rol_id == "1") --> { %>                   
			<%- include ('../partials/adminHeader') %>
		<% } else { %>
		  <%- include ('../partials/header') %> 
		<% } %>

        <div >
            <div >
                <div >
<<<<<<< HEAD
<<<<<<< HEAD
                    <h2>Hola <%= user.name %> </h2>
                    <div class="foto-perfil">
                    <img src="/image<%= user.image %> ">

                    </div>
                    <br>
                    <br>
                    <!-- <div class="login-input"> </div> -->
                </div>
            </div>
        </div>
    <%- include('./partials/footer') %>
</body>
</html>



		
	
	
	