<!DOCTYPE html>

<html lang="en">
<%- include('./partials/head') %>

<%- include('./partials/header') %> 
    <body>

       
        <div >
            <div >
                <div >

                    <h2>Hola <%= user.name %> </h2>
                    <div class="foto-perfil">
                    <img src="/images/usersImg/<%= user.image %>">

                    </div>
                    <br>
                    <br>
                   
        
            <%- include('./partials/footer') %>
    </body>


		
	
	
	
