<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

      <main class="register-body">
       
            </p>
                <div class="user-info">
                  <form action="/user/register" method="post" enctype='multipart/form-data' class="login-form">
                    
                    <label for="name" class="titulos-register">Nombre</label>
                    <input name="name" type="text" class="login-input" required placeholder="Nombre" minlength="2" > 
                      
                    <br>
                    <label for="surname" class="titulos-register">Apellido</label>
                    <input name="surname" type="text" class="login-input" required placeholder="Apellido"
                      minlength="3" />
                    <br>
                    <label for="date" class="titulos-register">Fecha de nacimiento</label>
                    <input name="birthday" type="date" class="login-input" required />
                    <br>
                    <label for="username" class="titulos-register">Usuario</label>
                    <input name="username" type="text" class="login-input" required placeholder="Nombre de usuario"
                      minlength="5" />
                    <br>
                    <label for="email"class="titulos-register">Email</label>
                    <i class="fa fa-envelope icon" ></i><input name="email" type="email" class="login-input" required
                      placeholder="E-mail" <%= locals.errors && errors.email ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.email : null %>" />
                      <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                          <%= errors.email.msg %>
                        </div>
                      <% } %>
                    <br>
                    <label for="psw"class="titulos-register">Contraseña</label>
                    <input name="password" type="password" class="login-input" required minlength="5"
                      placeholder="Contraseña" />
                    <br>
                   
                    <div class="user-img">
                      <label class="header-pp"class="titulos-register">Foto de perfil:</label>
                      <div class="foto-perfil"></div>
                      <input type="file" class="login-input" name="image" placeholder="Foto de perfil" capture>
                    </div>

                  <div class="botones-register">
                    <button class="login-button" type="submit">Crear cuenta</button>
                    
                    <button class="login-button" type="reset">Borrar datos</button>
                  </div>
                  </form>
                </div>
      </main>

      <%- include('./partials/footer') %>

  </body>

  </html>