<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

      <main class="register-body">
       
            </p>
                <div class="user-info">
                  <div class="errores">
                  <ul>
                    <% typeof errors != 'undefined' && errors.forEach(error => { %>
                      <li> <%= error.msg %></li>
                    <%})%>
                  </ul>
                </div>
                  <form action="/user/register" method="post" enctype='multipart/form-data' class="login-form" id="reservation">
                    
                    <label for="name" class="titulos-register">Nombre</label>
                    <input name="name" type="text" class="login-input" placeholder="Nombre"  id="name"> 
                      
                    <br>
                    <label for="surname" class="titulos-register">Apellido</label>
                    <input name="surname" type="text" class="login-input" placeholder="Apellido"
                       id="surname"/>
                    <br>
                    <label for="date" class="titulos-register">Fecha de nacimiento</label>
                    <input name="birthday" type="date" class="login-input" id="birthday"/>
                    <br>
                    <label for="email"class="titulos-register">Email</label>
                    <i class="fa fa-envelope icon" ></i><input name="email" type="email" class="login-input" id="email"
                      placeholder="E-mail" <%= locals.errors && errors.email ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.email : null %>" />
                    <br>
                    <label for="psw"class="titulos-register">Contraseña</label>
                    <input name="password" type="password" class="login-input" 
                      placeholder="Contraseña" id="password" />
                    <br>
                   
                    <div class="user-img">
                      <label class="header-pp"class="titulos-register">Foto de perfil:</label>
                      <div class="foto-perfil"></div>
                      <input type="file" class="login-input" name="image" placeholder="Foto de perfil" capture id="image" accept=".jpg,.png,.gif,.jpeg">
                    </div>

                  <div class="botones-register">
                    <button class="login-button" type="submit">Crear cuenta</button>
                    
                    <button class="login-button" type="reset">Borrar datos</button>
                  </div>
                  </form>
                </div>
      </main>

      <%- include('./partials/footer') %>

      <!-- <script src="/js/registerValidation.js"></script> -->
  </body>

  </html>